.condition-icon {
    width: 100%;
}

.parts-weather-card-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.parts-weather-container {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}

.part-weather-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

