.card-content-hour {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.hour-weather-table {
    margin-top: 20px;
}

.hour-weather-condition-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hour-weather-condition-cell img {
    width: 30px;
}

.hour-weather-condition-cell strong {
    margin-left: 5px;
}


