.day-week-weather-condition-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    word-break: break-word;
}

.hour-weather-condition-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.day-week-weather-condition-cell img {
    width: 30px;
}

.day-week-weather-condition-cell strong {
    margin-left: 5px;
}
