.day-week-weather-condition-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hour-weather-condition-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.day-week-weather-condition-cell img {
    width: 30px;
}

@media (max-width:410px) {
    .day-week-weather-condition-cell strong {
        display: none;
    }

}

.day-week-weather-condition-cell strong {
    margin-left: 5px;
}
